.footer-section {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-list {
    list-style-type: none;
    padding: 4px;
    margin-left: 1rem;
    margin-top: 1rem;

    li {
        padding: 0.25rem 0;
    }
}

.mn-link {
    text-decoration: none;
    color: #1A2840;
    padding: 4px 0;
}