<div class="row footer-section">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <div>
      <img class="header-img" src="/assets/img/theme/btg/btg_logo.png" />
    </div>
  </div>
  <div class="mt-3 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h4> Contact Us </h4>
    <ul class="footer-list">
      <li>
          <nb-icon icon="phone-call"></nb-icon>
          +1 (678) 269-6334
      </li>
    </ul>
  </div>
  <div class="mt-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <h4> Follow Us </h4>
    <ul class="footer-list">
      <li *ngFor="let sLink of socialLinks">
        <a class="mn-link" target="_blank" href="{{sLink.link}}">
          <nb-icon icon="{{sLink.icon}}"></nb-icon>
          {{sLink.label}}
        </a>
      </li>
    </ul>
  </div>

</div>
