@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 1px;

  h3 {
    color: #182B3A;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  .social {
    li {
      display: inline;
      padding: 4px 8px;
    }
  }
}
