// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';


$nb-themes: nb-register-theme(( // app
        btn-group-bg: #f7f9fc,
        btn-success-bg: #182B3A,
        card-bg: #e4e9f2,
        card-fg-heading: #e4e9f2,
        color-bg: #ffffff,
        color-fg-highlight: #2E86AB,
        color-fg-text: #4b4b4b,
        color-info: #2E86AB,
        color-primary: #182B3A,
        color-success: #13A76B,
        color-danger: #E84855,
        color-warning: #FF652F,
        context-menu-active-bg: #182B3A,
        context-menu-border-radius: 0.17rem,
        context-menu-border: #182B3A,
        font-main: Roboto,
        font-secondary: Exo,
        font-weight-normal: 400,
        form-control-selected-border-color: #2E86AB,
        form-control-warning-border-color: lighten(#FF652F, 20%),
        layout-bg: #ebeff5,
        layout-content-width: 1400px,
        link-color: #2E86AB,
        menu-icon-font-size: 2rem,
        menu-item-padding: 0.675rem 0.75rem,
        menu-item-separator: #cdd5dc,
        menu-submenu-item-border-radius: 0.17rem,
        menu-submenu-item-padding: 0.5rem 1rem,
        popover-border: #182B3A,
        radial-gradient: none,
        radius: 0.375rem,
        route-tabs-selected: #182B3A,
        sidebar-header-gap: 0,
        sidebar-header-height: initial,
        user-menu-active-bg: #0C3C59,
        scrollbar-color: lighten(#4b4b4b, 30%),
        scrollbar-width: 0.5rem,
    ), shuriken, default);

$nb-themes: nb-register-theme(( // app
        btn-group-bg: #f7f9fc,
        card-bg: #e4e9f2,
        card-fg-heading: #e4e9f2,
        card-header-with-select-padding-bottom: 0.5rem,
        card-header-with-select-padding-top: 0.5rem,
        card-height-giant: 44.25rem,
        card-height-large: 36.5625rem,
        card-height-medium: 28.875rem,
        card-height-small: 21.1875rem,
        card-height-tiny: 13.5rem,
        card-margin-bottom: 1.875rem,
        color-bg: #ffffff,
        color-fg-highlight: #40dc7e,
        color-fg-text: #4b4b4b,
        color-danger: #E84855,
        color-warning: #FF652F,
        font-main: Roboto,
        font-secondary: Exo,
        font-weight-normal: 400,
        layout-bg: #ebeff5,
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        radial-gradient: none,
        radius: 0.375rem,
        select-min-width: 6rem,
        sidebar-header-gap: 0,
        slide-out-background: #f7f9fc,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    ), default, default);

$nb-themes: nb-register-theme(( // app
        card-bg: #e4e9f2,
        card-fg-heading: #e4e9f2,
        card-header-with-select-padding-bottom: 0.5rem,
        card-header-with-select-padding-top: 0.5rem,
        card-height-giant: 44.25rem,
        card-height-large: 36.5625rem,
        card-height-medium: 28.875rem,
        card-height-small: 21.1875rem,
        card-height-tiny: 13.5rem,
        card-margin-bottom: 1.875rem,
        color-bg: #ffffff,
        color-fg-text: #4b4b4b,
        color-fg-highlight: #40dc7e,
        color-danger: #E84855,
        color-warning: #FF652F,
        font-main: Roboto,
        font-secondary: Exo,
        font-weight-normal: 400,
        layout-bg: #ebeff5,
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        radial-gradient: none,
        radius: 0.375rem,
        select-min-width: 6rem,
        sidebar-header-gap: 0,
        slide-out-background: #252547,
        slide-out-shadow-color-rtl: -2px 0 3px #29157a,
        slide-out-shadow-color: 2px 0 3px #29157a,
        btn-group-bg: #f7f9fc,
    ), cosmic, cosmic);

$nb-themes: nb-register-theme(( // app
        card-bg: #e4e9f2,
        card-fg-heading: #e4e9f2,
        card-header-with-select-padding-bottom: 0.5rem,
        card-header-with-select-padding-top: 0.5rem,
        card-height-giant: 44.25rem,
        card-height-large: 36.5625rem,
        card-height-medium: 28.875rem,
        card-height-small: 21.1875rem,
        card-height-tiny: 13.5rem,
        card-margin-bottom: 1.875rem,
        color-bg: #ffffff,
        color-fg-text: #4b4b4b,
        color-fg-highlight: #40dc7e,
        color-danger: #E84855,
        color-warning: #FF652F,
        font-main: Roboto,
        font-secondary: Exo,
        font-weight-normal: 400,
        layout-bg: #ebeff5,
        menu-item-icon-margin: 0 0.5rem 0 0,
        radial-gradient: none,
        radius: 0.375rem,
        select-min-width: 6rem,
        sidebar-header-gap: 0,
        slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        btn-group-bg: #f7f9fc,
        layout-padding-top: 2.25rem,
    ), corporate, corporate);

$nb-themes: nb-register-theme(( // app
        btn-group-bg: #f7f9fc,
        card-bg: #e4e9f2,
        card-fg-heading: #e4e9f2,
        card-header-with-select-padding-bottom: 0.5rem,
        card-header-with-select-padding-top: 0.5rem,
        card-height-giant: 44.25rem,
        card-height-large: 36.5625rem,
        card-height-medium: 28.875rem,
        card-height-small: 21.1875rem,
        card-height-tiny: 13.5rem,
        card-margin-bottom: 1.875rem,
        color-bg: #ffffff,
        color-fg-text: #4b4b4b,
        color-fg-highlight: #40dc7e,
        color-danger: #E84855,
        color-warning: #FF652F,
        font-main: Roboto,
        font-secondary: Exo,
        font-weight-normal: 400,
        layout-bg: #ebeff5,
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        radial-gradient: none,
        radius: 0.375rem,
        select-min-width: 6rem,
        sidebar-header-gap: 0,
        slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    ), dark, dark);