<wps-modal-cookie-consent *ngIf="noCookiePreference"></wps-modal-cookie-consent>

<nb-layout class="home" withScroll="false" windowMode="false">

  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>
  <nb-layout-column class="no-padding">
    <div class="home-container">
      <section>
        <div class="image" data-type="background" data-speed="2"></div>
        <div class="stuff light-title" data-type="content">
          <h1 class="web-view">NO INSTALLATION REQUIRED</h1>
          <h2 class="mobile-view">Our Base64 encoder is entirely web-based</h2>
          <p>Embrace the simplicity and speed of our web-based Base64 encoder. There's no need to waste time downloading and 
            installing software on your device. Access our encoder directly through your web browser, and you're ready to start 
            encoding in seconds. Whether you're working on your personal computer, borrowed laptop, or a public computer, our hassle-free, 
            installation-free platform guarantees immediate accessibility and functionality.
          </p>
        </div>
      </section>

      <section>
        <div class="image" data-type="background" data-speed="7"></div>
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="stuff" data-type="content">
              <h2>
                <strong>Cross-Platform Compatibility: Encode data on the go!</strong>
              </h2>
              <p>With our cross-platform compatible Base64 online encoder, you can encode your data anytime, anywhere, 
                and on any device. Whether you're at home, in the office, or on the move, you'll have the convenience of 
                converting your data to Base64 format with ease.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stuff-image" data-type="content">
              <img src="/assets/img/theme/btg/undraw_elements_re_25t9.svg" class="img-fluid" />
            </div>
          </div>
        </div>
      </section>

    </div>
    <section class="footer-links">
      <ngx-footer-v2></ngx-footer-v2>
    </section>
    <section>
      <div class="footer-section row">
        <div class="col-md-12">
          <span class="created-by">© Copyright <b><a href="#" target="_blank">Build Technology Group</a></b>
            2023</span>
        </div>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>
